{% load static %}

<!DOCTYPE html>
<head>
    <title>Graffiti Wall</title>
    <link rel="stylesheet" type="text/css" href="{% static 'wall/index.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Sedgwick+Ave+Display" rel="stylesheet"> 
</head>
<body>
    
    <p><a href="{% url 'wall:new_post' %}">Post your own!</a></p>

    {% if post_list %}
        {% for post in post_list %}
            <div id="post{{forloop.counter}}" class="post" style="color:{{post.color}}; text-shadow: 0px 0px 3px {{post.color}};">
                <p class="post-text">{{ post.post_text }}</p>
                <p class="post-info"><span class="post-name">{{ post.author_name }}</span> 
                    @ {{ post.pub_date|date:"n/j/y" }}</p>
            </div>
            <br>
        {% endfor %}
    {% else %}
        <p>No posts are available.</p>
    {% endif %}
    
</body>