{% load static %}

<!DOCTYPE html>
<head>
    <title>Graffiti Wall Tagging</title>
    <link rel="stylesheet" type="text/css" href="{% static 'wall/post.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Sedgwick+Ave+Display" rel="stylesheet"> 
</head>
<body>

    <form action="{% url 'wall:posted' %}" method="post">
        {% csrf_token %}
        <label>Message: </label>
        <textarea name="message" inputmode="text" maxlength="400" cols="30" rows="5" required></textarea>
        <label>Name: </label>
        <input name="name" type="text" inputmode="text" maxlength="40" size="40" required>
        {% for value, name in colors %}
            <input type="radio" name="color" id="color{{forloop.counter}}" value="{{value}}" class="radio">
            <label for="color{{forloop.counter}}" style="color:{{value}}; text-shadow: 0px 0px 3px {{value}};" class="radio">{{name}}</label>
        {% endfor %}
        <input type="submit" value="Tag it!">
    </form>
    
</body>